{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load persian_translation_number_tag %}
{% load humanize %}

{% block page_title %}
    {% trans 'My Profile' %}
{% endblock %}

{% block content %}
      <div class="container">
      <h1 class="my-4">{% trans 'Profile Page' %}</h1>
          <hr>
      <div class="row">
        <div class="col-md-6">
          <h2>{% trans 'Order History' %}</h2>
        <div style="height: 300px; overflow-y: scroll;">
          <table class="table" style="text-align: center;border-bottom-style: solid;border-left-style: solid; border-right-style: solid">
            <thead>
              <tr>
                <th>{% trans 'Order Number' %}</th>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Amount' %}</th>
              </tr>
            </thead>
            <tbody>

            {% for order in orders.all %}
              <tr>
                  <td><a style="color: #0a58ca" href="{{ order.get_absolute_url }}">{{ order }}</a></td>
                <td>{{ order.datetime_created }}</td>
                <td>{{ order.get_total_price|intcomma:False|translate_number }} {% trans 'T' %}</td>
              </tr>
            {% endfor %}

            </tbody>
          </table>
        </div>
        </div>

        <div class="col-md-6">
          <h2>{% trans 'Update Information' %}</h2>
          <form action="{% url 'my_profile' %}" method="post">
              {% csrf_token %}
            <div class="form-group mt-4">
              <label for="username">{% trans 'Username:' %}</label>
              <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" style="color: #0a58ca">
                {% if form.errors %}
                {{ form.errors.username }}
                {% endif %}
            </div>

            <div class="form-group mt-4">
              <label for="first-name">{% trans 'First Name:' %}</label>
              <input type="text" class="form-control" id="first-name" name="first_name" value="{{ user.first_name }}" style="color: #0a58ca">
                {% if form.errors %}
                {{ form.errors.first_name }}
                {% endif %}
            </div>

            <div class="form-group mt-4">
              <label for="last-name">{% trans 'Last Name:' %}</label>
              <input type="text" class="form-control" id="last-name" name="last_name" value="{{ user.last_name }}" style="color: #0a58ca">
                {% if form.errors %}
                {{ form.errors.last_name }}
                {% endif %}
            </div>

            <div class="form-group mt-4">
              <label for="email">{% trans 'Email:' %}</label>
              <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" style="color: #0a58ca">
                {% if form.errors %}
                {{ form.errors.email }}
                {% endif %}
            </div>
            {{ form.non_field_errors }}

            <button style="background-color: black;color: white" type="submit" class="btn-shape-rounded mt-4">{% trans 'Update' %}</button>
          </form>
        </div>
      </div>
      {% include 'cart/cart_sidebar.html' %}
    </div>
{% endblock %}