{% load static %}
{% load i18n %}
{% load path_modifier %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/icon.png' %}">

    <!-- ************************* CSS Files ************************* -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">

    <!-- style css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="stylesheet" href="{% static 'css/messages.css' %}" type="text/css" media="screen"/>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

</head>
<body>

<!-- Header Start -->
<header class="header header-default site-header">
    <div class="header__outer">
        <div class="header__inner header--fixed">
            <div class="container">
                <div class="header__main">
                    <div class="header__col header__left">
                        <a href="index.html" class="logo">
                            <figure class="logo--normal">
                                <img src="{% static 'img/logo/logo.png' %}" alt="Logo">
                            </figure>
                            <figure class="logo--transparency">
                                <img src="{% static 'img/logo/logo.png' %}" alt="Logo">
                            </figure>
                        </a>
                    </div>
                    <div class="header__col header__center">
                        <nav class="main-navigation d-none d-lg-block">
                            <ul class="mainmenu">
                                <li class="mainmenu__item menu-item-has-children position-relative">
                                    <a href="{% url 'home' %}" class="mainmenu__link">{% trans 'Home' %}</a>
                                </li>
                                <li class="mainmenu__item menu-item-has-children position-static">
                                    <a href="{% url 'products_list' %}" class="mainmenu__link">{% trans 'Shop' %}</a>
                                </li>
                                <li class="mainmenu__item menu-item-has-children position-relative">
                                    <a href="" class="mainmenu__link">{% trans 'Categories' %}</a>
                                    <div class="inner-menu">
                                        <ul class="sub-menu">
                                            {% for category in categories %}

                                                <li>
                                                    <a href="{{ category.get_absolute_url }}">{{ category.get_name }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                                <li class="mainmenu__item menu-item-has-children position-relative">
                                    <a href="#" class="mainmenu__link">{% trans 'Blog' %}</a>
{#                                    <div class="inner-menu">#}
{#                                        <ul class="sub-menu">#}
{#                                            <li class="has-children">#}
{#                                                <a href="#">Blog Grid</a>#}
{#                                                <ul class="sub-menu">#}
{#                                                    <li>#}
{#                                                        <a href="blog-left-sidebar.html">Left Sidebar</a>#}
{#                                                    </li>#}
{#                                                    <li>#}
{#                                                        <a href="blog.html">Right Sidebar</a>#}
{#                                                    </li>#}
{#                                                    <li>#}
{#                                                        <a href="blog-01-column.html">One Column</a>#}
{#                                                    </li>#}
{#                                                    <li>#}
{#                                                        <a href="blog-02-columns.html">Two Columns</a>#}
{#                                                    </li>#}
{#                                                    <li>#}
{#                                                        <a href="blog-03-columns.html">Three Columns</a>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </li>#}
{#                                            <li class="has-children">#}
{#                                                <a href="#">Blog Details</a>#}
{#                                                <ul class="sub-menu">#}
{#                                                    <li>#}
{#                                                        <a href="blog-details-image.html">Image Post</a>#}
{#                                                    </li>#}
{#                                                    <li>#}
{#                                                        <a href="blog-details-audio.html">Audio Post</a>#}
{#                                                    </li>#}
{#                                                    <li>#}
{#                                                        <a href="blog-details-video.html">Video Post</a>#}
{#                                                    </li>#}
{#                                                    <li>#}
{#                                                        <a href="blog-details-gallery.html">Gallery Post</a>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </div>#}
                                </li>
                                <li class="mainmenu__item">
                                    <a href="{% url 'contact_us' %}" class="mainmenu__link">{% trans 'Contact Us' %}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header__col header__right">
                        {% if user.is_authenticated %}
                            <div class="toolbar-item d-none d-lg-block">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        {% trans 'Welcome ' %}{{ user.username }}
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="profile.html">{% trans 'Profile' %}</a></li>
                                        <li><a class="dropdown-item"
                                               href="{% url 'account_change_password' %}">{% trans 'Change Password' %}</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                               href="{% url 'account_logout' %}">{% trans 'Logout' %}</a></li>
                                    </ul>
                                </div>
                            </div>
                        {% else %}
                            <div class="toolbar-item d-none d-lg-block mt-3">
                                <a href="{% url 'account_login' %}" class="toolbar-btn">{% trans 'Login' %}</a> |
                                <a href="{% url 'account_signup' %}" class="toolbar-btn">{% trans 'Signup' %}</a>
                            </div>
                        {% endif %}
{#                        <div class="toolbar-item d-block d-lg-none">#}
{#                            <a href="#offcanvasnav" class="hamburger-icon js-toolbar menu-btn">#}
{#                                <span></span>#}
{#                                <span></span>#}
{#                                <span></span>#}
{#                                <span></span>#}
{#                                <span></span>#}
{#                                <span></span>#}
{#                            </a>#}
{#                        </div>#}
                        {#                        <div class="toolbar-item">#}
                        {#                            <a href="wishlist.html" class="toolbar-btn">#}
                        {#                                <i class="flaticon-heart"></i>#}
                        {#                            </a>#}
                        {#                        </div>#}
                        <div class="toolbar-item mini-cart-btn mt-3">
                            <a href="#miniCart" class="toolbar-btn js-toolbar">
                                        <span class="mini-cart-btn__icon">
                                            <i class="flaticon-bag"></i>
                                        </span>
                                <sup class="mini-cart-btn__count">
                                    {{ cart|length }}
                                </sup>
                            </a>
                        </div>
                        <div class="btn-group">
                            <button style="background-color:black;" class="btn-shape-rounded" data-bs-toggle="dropdown"
                                    aria-expanded="false"><i class="fa fa-language" style="color:white;"></i>

                            </button>
                            <ul class="dropdown-menu">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}

                                    <li><a class="dropdown-item"
                                           href="/{{ language.code }}{{ request.path|path_modifier }}">{{ language.name_local }}</a></li>

                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-sticky-height"></div>
    </div>
</header>
<!-- Header End -->

{% if messages %}
    <div class="container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}

    </div>
{% endif %}

{% block content %}

{% endblock %}

{% include 'footer.html' %}

<!-- jQuery JS -->
<script src="{% static 'js/vendor.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>

<script>
    var m = document.getElementsByClassName("alert");  // Return an array

    setTimeout(function () {
        if (m && m.length) {
            m[0].classList.add('hide');
        }
    }, 3000);
</script>

</body>
</html>