{% load i18n %}
{% load static %}

<!-- Footer Start-->
<footer class="footer bg-color pt--70 pt-xs--60" data-bg-color="#f4f8fa">
    <div class="container">
        <div class="row border-bottom pb--60 pb-sm--28 pb-xs--49">
            <div class="col footer-column-1 mb-sm--42">
                <div class="footer-widget">
                    <div class="textwidget">
                        <figure class="footer-logo mb--10">
                            <img src="{% static 'img/logo/logo.png' %}">
                        </figure>
                    </div>
                    <div class="address-widget">
                        <address>{% trans '88 Saadatabad Tehran city' %}</address>
                        <a href="tel:+84112345678">{% trans '+98 9358888888' %}</a>
                        <a href="mailto:info@company.com">info@my_website.com</a>
                    </div>
                </div>
            </div>
            <div class="col footer-column-2 mb-md--33">
                <div class="footer-widget">
                    <h3 class="widget-title mb--35 mb-sm--15">{% trans 'Store Menu' %}</h3>
                    <ul class="footer-menu">
                        {% for category in categories %}
                        <li>
                            <a href="{{ category.get_absolute_url }}">
                                <i class="fa fa-angle-right"></i>
                                <span>{{ category.get_name|lower|capfirst }}</span>
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
{#            <div class="col footer-column-3 mb-sm--33">#}
{#                <div class="footer-widget">#}
{#                    <h3 class="widget-title mb--35 mb-sm--15">Information</h3>#}
{#                    <ul class="footer-menu">#}
{#                        <li>#}
{#                            <a href="#">#}
{#                                <i class="fa fa-angle-right"></i>#}
{#                                <span>About Us</span>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#">#}
{#                                <i class="fa fa-angle-right"></i>#}
{#                                <span>Delivery Information</span>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#">#}
{#                                <i class="fa fa-angle-right"></i>#}
{#                                <span>Privacy Policy</span>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#">#}
{#                                <i class="fa fa-angle-right"></i>#}
{#                                <span>Terms &amp; Conditions</span>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#">#}
{#                                <i class="fa fa-angle-right"></i>#}
{#                                <span>Look Books</span>#}
{#                            </a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
            <div class="col footer-column-4 mb-xs--33">
                <div class="footer-widget">
                    <h3 class="widget-title mb--35 mb-sm--15">{% trans 'Question' %}</h3>
                    <div class="footer-widget">
                        <ul class="footer-menu">
                            <li>
                                <a href="{% url 'contact_us' %}">
                                    <i class="fa fa-angle-right"></i>
                                    <span>{% trans 'Contact US' %}</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-right"></i>
                                    <span>{% trans 'Track Order' %}</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-right"></i>
                                    <span>{% trans 'Support' %}</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-right"></i>
                                    <span>{% trans 'Shipping & Delivery' %}</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-right"></i>
                                    <span>{% trans 'FAQs' %}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col footer-column-5">
                <div class="footer-widget">
                    <h3 class="widget-title mb--35 mb-sm--15">{% trans 'My Account' %}</h3>
                    <ul class="footer-menu">
                        <li>
                            <a href="{% url 'my_profile' %}">
                                <i class="fa fa-angle-right"></i>
                                <span>{% trans 'My Account' %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-right"></i>
                                <span>{% trans 'Order Delivery' %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-right"></i>
                                <span>{% trans 'Wishlist' %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-right"></i>
                                <span>{% trans 'Newsletter' %}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row ptb--20">
            <div class="col-12 text-center">
                <p class="copyright-text">&copy; Payne 2021 Made With <i class="fa fa-heart"></i> By
                    SouriNaj</p>
                <div class="social space-10">
                    <a href="#" target="_blank" rel="noopener noreferrer" class="social__link">
                        <i class="fa fa-facebook"></i>
                        <span class="sr-only">{% trans 'Facebook' %}</span>
                    </a>
                    <a href="#" target="_blank" rel="noopener noreferrer" class="social__link">
                        <i class="fa fa-twitter"></i>
                        <span class="sr-only">{% trans 'Twitter' %}</span>
                    </a>
                    <a href="#" target="_blank" rel="noopener noreferrer" class="social__link">
                        <i class="fa fa-linkedin"></i>
                        <span class="sr-only">{% trans 'Linkedin' %}</span>
                    </a>
                    <a href="#" target="_blank" rel="noopener noreferrer" class="social__link">
                        <i class="fa fa-instagram"></i>
                        <span class="sr-only">{% trans 'Instagram' %}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End-->