{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load comment_tag %}
{% load i18n %}
{% load jalali_tags %}
{% load persian_translation_number_tag %}
{% load humanize %}

{% block page_title %}
    {% trans 'Product detail' %}
{% endblock %}

{% block content %}
    {% include 'Breadcrumb.html' with title='Product detail' %}
    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">
        <div class="page-content-inner pt--80 pt-md--60">
            <div class="container">
                <div class="row g-0 mb--80 mb-md--57">
                    <div class="col-lg-7 product-main-image">
                        <div class="product-image">
                            <div class="product-gallery vertical-slide-nav">
                                <div class="product-gallery__large-image mb-sm--30">
                                    <div class="product-gallery__wrapper">
                                        <div class="element-carousel main-slider image-popup" data-slick-options='{
                                                "slidesToShow": 1,
                                                "slidesToScroll": 1,
                                                "infinite": true,
                                                "arrows": false,
                                                "asNavFor": ".nav-slider"
                                            }'>
                                            <div class="item">
                                                {% if product.image %}
                                                <figure class="product-gallery__image zoom">
                                                    <img src="{{ product.image.url }}"
                                                         alt="Product">
                                                    <span class="product-badge sale">Sale</span>
                                                </figure>
                                                {% endif %}
                                            </div>
                                            <div class="item">
                                                <figure class="product-gallery__image zoom">
                                                    <img src="{% static 'img/products/product-04-500x555.png' %}"
                                                         alt="Product">
                                                    <span class="product-badge sale">Sale</span>
                                                </figure>
                                            </div>
                                            <div class="item">
                                                <figure class="product-gallery__image zoom">
                                                    <img src="{% static 'img/products/product-05-500x555.png' %}"
                                                         alt="Product">
                                                    <span class="product-badge sale">Sale</span>

                                                </figure>
                                            </div>
                                            <div class="item">
                                                <figure class="product-gallery__image zoom">
                                                    <img src="{% static 'img/products/product-06-500x555.png' %}"
                                                         alt="Product">
                                                    <span class="product-badge sale">Sale</span>

                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-gallery__nav-image">
                                    <div class="element-carousel nav-slider product-slide-nav slick-center-bottom"
                                         data-slick-options='{
                                            "spaceBetween": 10,
                                            "slidesToShow": 3,
                                            "slidesToScroll": 1,
                                            "vertical": true,
                                            "swipe": true,
                                            "verticalSwiping": true,
                                            "infinite": true,
                                            "focusOnSelect": true,
                                            "asNavFor": ".main-slider",
                                            "arrows": true,
                                            "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "fa fa-angle-up" },
                                            "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "fa fa-angle-down" }
                                        }' data-slick-responsive='[
                                            {
                                                "breakpoint":1200,
                                                "settings": {
                                                    "slidesToShow": 2
                                                }
                                            },
                                            {
                                                "breakpoint":992,
                                                "settings": {
                                                    "slidesToShow": 3
                                                }
                                            },
                                            {
                                                "breakpoint":767,
                                                "settings": {
                                                    "slidesToShow": 4,
                                                    "vertical": false
                                                }
                                            },
                                            {
                                                "breakpoint":575,
                                                "settings": {
                                                    "slidesToShow": 3,
                                                    "vertical": false
                                                }
                                            },
                                            {
                                                "breakpoint":480,
                                                "settings": {
                                                    "slidesToShow": 2,
                                                    "vertical": false
                                                }
                                            }
                                        ]'>
                                        <div class="item">
                                            <figure class="product-gallery__nav-image--single">
                                                <img src="{% static 'img/products/product-03-270x300.jpg' %}"
                                                     alt="Products">
                                            </figure>
                                        </div>
                                        <div class="item">
                                            <figure class="product-gallery__nav-image--single">
                                                <img src="{% static 'img/products/product-04-270x300.jpg' %}"
                                                     alt="Products">
                                            </figure>
                                        </div>
                                        <div class="item">
                                            <figure class="product-gallery__nav-image--single">
                                                <img src="{% static 'img/products/product-05-270x300.jpg' %}"
                                                     alt="Products">
                                            </figure>
                                        </div>
                                        <div class="item">
                                            <figure class="product-gallery__nav-image--single">
                                                <img src="{% static 'img/products/product-06-270x300.jpg' %}"
                                                     alt="Products">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 offset-xl-1 col-lg-5 product-main-details mt-md--50">
                        <div class="product-summary pl-lg--30 pl-md--0">

                            <div class="product-rating d-flex mb--20">
                                <div class="star-rating star-five">
                                    <span>Rated <strong class="rating">5.00</strong> out of 5</span>
                                </div>
                            </div>
                            <h3 class="product-title mb--20">{{ product.title }}</h3>
                            <p class="product-short-description mb--20">{{ product.description|truncatewords:10|safe }}</p>
                            <div class="product-price-wrapper mb--25">
                                <span class="money">{% trans '$' %}{{ product.price|translate_number|intcomma }}</span>
                            </div>
                            <div
                                    class="product-action d-flex flex-sm-row align-items-sm-center flex-column align-items-start mb--30">
                                <form action="{% url 'cart:add_to_cart' product.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="quantity-wrapper d-flex align-items-center mr--30 mr-xs--0 mb-xs--30">
                                        <div class="quantity">
                                            <input type="number" class="quantity-input" name="quantity" id="pro-qty"
                                                   value="1" min="1" max="30">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-shape-square btn-size-sm mt-2">
                                        {% trans 'Add To Cart' %}
                                    </button>
                                </form>
                                {#                                <div class="quantity-wrapper d-flex align-items-center mr--30 mr-xs--0 mb-xs--30">#}
                                {#                                    <label class="quantity-label" for="pro-qty">{% trans 'Quantity:' %}</label>#}
                                {#                                    <div class="quantity">#}
                                {#                                        <input type="number" class="quantity-input" name="pro-qty" id="pro-qty"#}
                                {#                                               value="1" min="1">#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <button type="button" class="btn btn-shape-square btn-size-sm"#}
                                {#                                        onclick="window.location.href='cart.html'">#}
                                {#                                    {% trans 'Add To Cart' %}#}
                                {#                                </button>#}
                            </div>
                            <div class="product-footer-meta">
                                <p><span>{% trans 'Category:' %}</span>
                                    <a href="shop.html">Full Sweater</a>,
                                    <a href="shop.html">SweatShirt</a>,
                                    <a href="shop.html">Jacket</a>,
                                    <a href="shop.html">Blazer</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mb--77 mb-md--57">
                    <div class="col-12">
                        <div class="tab-style-1">
                            <div class="nav nav-tabs mb--35 mb-sm--25" id="product-tab" role="tablist">
                                <button type="button" class="nav-link active" id="nav-description-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#nav-description" role="tab" aria-selected="true">
                                    <span>{% trans 'Description' %}</span>
                                </button>
                                <button type="button" class="nav-link" id="nav-info-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-info" role="tab"
                                        aria-selected="true">
                                    <span>{% trans 'Additional Information' %}</span>
                                </button>
                                <button type="button" class="nav-link" id="nav-reviews-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-reviews"
                                        role="tab" aria-selected="true">
                                    <span>{% trans 'Reviews' %}({{ product.comments.all|active_comments|length }})</span>
                                </button>
                            </div>
                            <div class="tab-content" id="product-tabContent">
                                <div class="tab-pane fade show active" id="nav-description" role="tabpanel"
                                     aria-labelledby="nav-description-tab">
                                    <div class="product-description">
                                        <p>{{ product.description|safe }}</p>


                                        <h5 class="product-description__heading">{% trans 'Characteristics :' %}</h5>
                                        <ul>
                                            <li><span>{{ product.characteristic|safe }}</span></li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-info" role="tabpanel"
                                     aria-labelledby="nav-info-tab">
                                    <div class="table-content table-responsive">
                                        <table class="table shop_attributes">
                                            <tbody>
                                            <tr>
                                                <th>{% trans 'Weight' %}</th>
                                                <td>{{ product.weight }} kg</td>
                                            </tr>
                                            <tr>
                                                <th>{% trans 'Dimensions' %}</th>
                                                <td>{{ product.dimension }}</td>
                                            </tr>
{#                                            <tr>#}
{#                                                <th>Color</th>#}
{#                                                <td>#}
{#                                                    <a href="shop.html">Black</a>,#}
{#                                                    <a href="shop.html">Gray</a>,#}
{#                                                    <a href="shop.html">Red</a>,#}
{#                                                    <a href="shop.html">Violet</a>,#}
{#                                                    <a href="shop.html">Yellow</a>#}
{#                                                </td>#}
{#                                            </tr>#}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-reviews" role="tabpanel"
                                     aria-labelledby="nav-reviews-tab">
                                    <div class="product-reviews">
                                        <h3 class="review__title">{{ product.comments.all|active_comments|length }} {% trans 'review for' %} {{ product.title }}</h3>
                                        <ul class="review__list">
                                            {% for comment in product.comments.all|active_comments %}
                                                <li class="review__item">
                                                    <div class="review__container">
                                                        <img src="{% static 'img/others/comment-1.jpg' %}"
                                                             alt="Review Avatar"
                                                             class="review__avatar">
                                                        <div class="review__text">
                                                            <div
                                                                    class="d-flex flex-sm-row flex-column justify-content-between">
                                                                <div class="review__meta">
                                                                    <strong class="review__author">{{ comment.author }}</strong>
                                                                    <span class="review__dash">-</span>
                                                                    <span class="review__published-date">{{ comment.datetime_created|to_jalali:'%Y/%B/%d _ %H:%M:%S'|translate_number }}</span>
                                                                </div>
                                                                <div class="product-rating">
                                                                    <div class="star-rating star-{{ comment.stars|number_to_word }}">
                                                                        <span>Rated <strong
                                                                                class="rating">{{ comment.stars|int_to_float }}</strong>
                                                                            out of 5</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p class="review__description">{{ comment.body }}</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <hr>
                                        <div class="review-form-wrapper">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <h1>{% trans 'Add a review' %}</h1>
                                                    {% if user.is_authenticated %}
                                                        <form action="{% url 'comment_create' product.id %}"
                                                              class="form pr--30" method="post">
                                                            {% csrf_token %}
                                                            {{ comment_form|crispy }}
                                                            <div class="form__group mt-2">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <input type="submit"
                                                                               value="{% trans 'Submit' %}"
                                                                               class="btn btn-size-md">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    {% else %}
                                                        <p>{% trans 'In order to submit a review please ' %} <a
                                                                class="text-decoration-underline"
                                                                href="{% url 'account_login' %}"><strong>{% trans 'Login' %}</strong></a>
                                                        </p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>{% trans 'Related Products' %}</h2>
                <hr>
                <div class="row mb--77 mb-md--57 mt-5">
                    <div class="col-12">
                        <div class="element-carousel slick-vertical-center" data-slick-options='{
                                "spaceBetween": 30,
                                "slidesToShow": 4,
                                "slidesToScroll": 1,
                                "arrows": true,
                                "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "la la-angle-double-left" },
                                "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "la la-angle-double-right" }
                            }' data-slick-responsive='[
                                {"breakpoint":1199, "settings": {
                                    "slidesToShow": 3
                                }},
                                {"breakpoint":991, "settings": {
                                    "slidesToShow": 2
                                }},
                                {"breakpoint":575, "settings": {
                                    "slidesToShow": 1
                                }}
                            ]'>

                            <div class="item">
                                <div class="payne-product">
                                    <div class="product__inner">
                                        <div class="product__image">
                                            <figure class="product__image--holder">
                                                <img src="{% static 'img/products/product-03-270x300.jpg' %}"
                                                     alt="Product">
                                            </figure>
                                            <a href="product-details.html" class="product__overlay"></a>
                                            <div class="product__action">
                                                <a data-bs-toggle="modal" data-bs-target="#productModal"
                                                   class="action-btn">
                                                    <i class="fa fa-eye"></i>
                                                    <span class="sr-only">Quick View</span>
                                                </a>
                                                <a href="wishlist.html" class="action-btn">
                                                    <i class="fa fa-heart-o"></i>
                                                    <span class="sr-only">Add to wishlist</span>
                                                </a>
                                                <a href="compare.html" class="action-btn">
                                                    <i class="fa fa-repeat"></i>
                                                    <span class="sr-only">Add To Compare</span>
                                                </a>
                                                <a href="cart.html" class="action-btn">
                                                    <i class="fa fa-shopping-cart"></i>
                                                    <span class="sr-only">Add To Cart</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product__info">
                                            <div class="product__info--left">
                                                <h3 class="product__title">
                                                    <a href="product-details.html">Lexbaro Begadi</a>
                                                </h3>
                                                <div class="product__price">
                                                    <span class="money">132.00</span>
                                                    <span class="sign">$</span>
                                                </div>
                                            </div>
                                            <div class="product__info--right">
                                                    <span class="product__rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="payne-product">
                                    <div class="product__inner">
                                        <div class="product__image">
                                            <figure class="product__image--holder">
                                                <img src="{% static 'img/products/product-05-270x300.jpg' %}"
                                                     alt="Product">
                                            </figure>
                                            <a href="product-details.html" class="product-overlay"></a>
                                            <div class="product__action">
                                                <a data-bs-toggle="modal" data-bs-target="#productModal"
                                                   class="action-btn">
                                                    <i class="fa fa-eye"></i>
                                                    <span class="sr-only">Quick View</span>
                                                </a>
                                                <a href="wishlist.html" class="action-btn">
                                                    <i class="fa fa-heart-o"></i>
                                                    <span class="sr-only">Add to wishlist</span>
                                                </a>
                                                <a href="wishlist.html" class="action-btn">
                                                    <i class="fa fa-repeat"></i>
                                                    <span class="sr-only">Add To Compare</span>
                                                </a>
                                                <a href="cart.html" class="action-btn">
                                                    <i class="fa fa-shopping-cart"></i>
                                                    <span class="sr-only">Add To Cart</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product__info">
                                            <div class="product__info--left">
                                                <h3 class="product__title">
                                                    <a href="product-details.html">Lexbaro Begadi</a>
                                                </h3>
                                                <div class="product__price">
                                                    <span class="money">132.00</span>
                                                    <span class="sign">$</span>
                                                </div>
                                            </div>
                                            <div class="product__info--right">
                                                    <span class="product__rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="payne-product">
                                    <div class="product__inner">
                                        <div class="product__image">
                                            <figure class="product__image--holder">
                                                <img src="{% static 'img/products/product-06-270x300.jpg' %}"
                                                     alt="Product">
                                            </figure>
                                            <a href="product-details.html" class="product-overlay"></a>
                                            <div class="product__action">
                                                <a data-bs-toggle="modal" data-bs-target="#productModal"
                                                   class="action-btn">
                                                    <i class="fa fa-eye"></i>
                                                    <span class="sr-only">Quick View</span>
                                                </a>
                                                <a href="wishlist.html" class="action-btn">
                                                    <i class="fa fa-heart-o"></i>
                                                    <span class="sr-only">Add to wishlist</span>
                                                </a>
                                                <a href="wishlist.html" class="action-btn">
                                                    <i class="fa fa-repeat"></i>
                                                    <span class="sr-only">Add To Compare</span>
                                                </a>
                                                <a href="cart.html" class="action-btn">
                                                    <i class="fa fa-shopping-cart"></i>
                                                    <span class="sr-only">Add To Cart</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product__info">
                                            <div class="product__info--left">
                                                <h3 class="product__title">
                                                    <a href="product-details.html">Lexbaro Begadi</a>
                                                </h3>
                                                <div class="product__price">
                                                    <span class="money">132.00</span>
                                                    <span class="sign">$</span>
                                                </div>
                                            </div>
                                            <div class="product__info--right">
                                                    <span class="product__rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="payne-product">
                                    <div class="product__inner">
                                        <div class="product__image">
                                            <figure class="product__image--holder">
                                                <img src="{% static 'img/products/product-08-270x300.jpg' %}"
                                                     alt="Product">
                                            </figure>
                                            <a href="product-details.html" class="product-overlay"></a>
                                            <div class="product__action">
                                                <a data-bs-toggle="modal" data-bs-target="#productModal"
                                                   class="action-btn">
                                                    <i class="fa fa-eye"></i>
                                                    <span class="sr-only">Quick View</span>
                                                </a>
                                                <a href="wishlist.html" class="action-btn">
                                                    <i class="fa fa-heart-o"></i>
                                                    <span class="sr-only">Add to wishlist</span>
                                                </a>
                                                <a href="wishlist.html" class="action-btn">
                                                    <i class="fa fa-repeat"></i>
                                                    <span class="sr-only">Add To Compare</span>
                                                </a>
                                                <a href="cart.html" class="action-btn">
                                                    <i class="fa fa-shopping-cart"></i>
                                                    <span class="sr-only">Add To Cart</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product__info">
                                            <div class="product__info--left">
                                                <h3 class="product__title">
                                                    <a href="product-details.html">Lexbaro Begadi</a>
                                                </h3>
                                                <div class="product__price">
                                                    <span class="money">132.00</span>
                                                    <span class="sign">$</span>
                                                </div>
                                            </div>
                                            <div class="product__info--right">
                                                    <span class="product__rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% include 'cart/cart_sidebar.html' %}

    </div>
    <!-- Main Content Wrapper End -->
{% endblock %}